{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card product-box">{%- comment -%}CD*{%- endcomment -%}
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign secondpreview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {%- assign secondimg_url = product.images[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:150%;">
        <img id="{{ img_id }}"
              class="first_img grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
             hhh="{{ secondimg_url }}"
              data-image>
        {% if product.images[1] != blank %}
        <img id="{{ img_id }}"
              class="second_img grid-view-item__image lazyload"
              alt="{{ secondpreview_image.alt }}"
              data-src="{{ secondimg_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ secondpreview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
        {% else %}
        	<img id="{{ img_id }}"
              class="second_img grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
             hhh="{{ secondimg_url }}"
              data-image>
        {% endif %}
      </div>
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>

  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>

<div class="product-actions">
  {%- form 'product', product, class: 'product-card-form' -%}
    {%- assign selected_variant = product.selected_or_first_available_variant -%}
  	<input type="hidden" name="id" value="{{ selected_variant.id }}">
    {%- if product.has_only_default_variant -%}
      <button type="button" name="add" class="btn product-card-add jsGridAdd"{% unless selected_variant.available %} aria-disabled="true"{% endunless %}>
        <span data-add-to-cart-text>
          {% unless selected_variant.available %}
          {{ 'products.product.sold_out' | t }}
          {% else %}
          {{ 'products.product.add_to_cart' | t }}
          {% endunless %}
        </span>
        <span class="hide" data-loader>
          {% include 'icon-spinner' %}
        </span>
      </button>
    {%- else -%}
      {%- assign has_size = false -%}
  	  {%- assign sizes = '' -%}
      {%- for option in product.options_with_values -%}
        {%- assign opt = option.name | downcase -%}
  		{%- assign opt_index = forloop.index0 -%}
        {%- if opt contains 'size' -%}
  		  {%- assign has_size = true -%}	
  		  {%- for value in option.values -%} 
            {%- capture sizes -%} 	
              {{ sizes }}
              <div class="size-item">
                <input type="radio" class="rad-size jsCardSize jsOpt" name="size{% if section.id %}-{{ section.id }}{% endif %}-{{ product.id }}" value="{{ value }}" data-indx="{{ opt_index }}" id="rad{% if section.id %}-{{ section.id }}{% endif %}-{{ product.id }}-{{ forloop.index0 }}">
                <label class="size-label" for="rad{% if section.id %}-{{ section.id }}{% endif %}-{{ product.id }}-{{ forloop.index0 }}">{{ value }}</label>
              </div>
            {%- endcapture -%}
  		  {%- endfor -%}	
        {%- elsif opt contains 'color' or opt contains 'colour' -%}
          <div class="card-colors">
            <ul class="card-colors-list jsOptWrap">
              {%- for value in option.values -%}
                <li class="color-item">
                  <span class="color-i jsCardColor jsOpt" data-indx="{{ opt_index }}" data="{{ value }}" style="background-color: {{ value }};background-image: url({{ value | handleize | append: '.png' | asset_url }})"></span>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endfor -%}
  	  {%- if has_size -%}	
        <div class="size-box">
          <a href="#" class="btn-size-close jsSizeClose"><span class="size-icon">{%- render 'icon-close' -%}</span></a>
          <div class="size-box-inner jsOptWrap">
            <div class="size-item size-heading">Select size</div>
            {{ sizes }}
          </div>
          <button type="button" name="add" class="btn product-card-add jsGridAdd" aria-disabled="true">
            <span data-add-to-cart-text>{{ 'products.product.add_to_cart' | t }}</span>
            <span class="hide" data-loader>
              {% include 'icon-spinner' %}
            </span>
          </button>
        </div>
  	  {%- endif -%}
      <button type="button" name="add" class="btn product-card-add{% if has_size %} btn-select{% else %} jsGridAdd{% endif %}"{% unless selected_variant.available %} aria-disabled="true"{% endunless %}>
        <span data-add-to-cart-text>
          {% unless selected_variant.available %}
            {{ 'products.product.sold_out' | t }}
          {% else %}
            {{ 'products.product.add_to_cart' | t }}
          {% endunless %}
        </span>
        <span class="hide" data-loader>
          {% include 'icon-spinner' %}
        </span>
        {%- if has_size -%}
          <span class="icon-btn">{%- render 'icon-chevron-down' -%}</span>
        {%- endif -%}
      </button>	
    {%- endif -%}
  {%- endform -%}
  
  <script type="text/plain" class="productJSON">{{ product | json }}</script>
</div>